[data-theme="light"] {
    --color-primary: theme("colors.violet.700");
    --color-secondary: theme("colors.purple.600");
    --color-text: theme("colors.gray.900");
    --color-text-offset: theme("colors.gray.600");
    --color-background: #F2F2F2;
    --color-background-offset:  #FAF9F6;
    --color-border: rgba(17, 24, 39, 0.1);
}

[data-theme="dark"] {
    --color-primary: theme("colors.violet.500");
    --color-secondary: theme("colors.purple.400");
    --color-text: theme("colors.gray.50");
    --color-text-offset: theme("colors.gray.400");
    --color-background: theme("colors.gray.900");
    --color-background-offset: theme("colors.gray.800");
    --color-border: rgba(249, 250, 251, 0.1);
}

html,
body {
    background-color: var(--color-background);
    color: var(--color-text);
}